@charset "UTF-8";

#warning-content {
	margin-top: .35em;
}

#exerciseForm\:task-prompt {
	
	font-size: 1.7em;
}

#exerciseForm {
	margin-top: -1.8em;
}

#endQuizForm {
	margin-top: -1.8em;
}

.task-button {
	font-size: 1.2em;
}

.quiz-button {
	background-color: #ffa726!important
}

.quiz-button:hover {
	background-color: #ff9900!important
}

#progress-bar {
	width: 80%;
}

#level-label::first-letter {
	text-transform: uppercase;
}

@media only screen and (max-width: 441px) {
	#progress-bar {
		width: 76%;
	}
}

@media only screen and (max-width: 371px) {
	#progress-bar {
		width: 72%;
	}
}

@media only screen and (max-width: 768px) {
	#exerciseForm\:task-prompt {
		font-size: 1.4em;
	}
	
	.task-button {
		font-size: 1em;
	}
}

@media only screen and (max-width: 576px) {
	#exerciseForm\:task-prompt {
		font-size: 1.2em;
	}
}