@charset "UTF-8";

#android-badge {
	height: 5.5em;
}

#footer-header {
	font-size: 1.2em;
	font-weight: bold;
}

#footer {
	height: 7.5em;
}

#footer-text {
	margin-top: -.5em;
}

@media only screen and (max-width: 992px) {
	#footer-text {
		font-size: .9em;
		margin-top: 1em;
	}
}

@media only screen and (max-width: 768px) {
	#footer-text {
		margin-top: -.8em;
	}
	
	#footer {
		height: 8em;
	}
	
	#android-badge {
		height: 4em;
	}
	
	#button-playstore {
		margin-top: -1em;
	}
}

@media only screen and (max-width: 576px) {
	#footer {
		height: 6.5em;
	}
}
