@charset "UTF-8";

#home-main-text {
	font-size: 4em; 
	font-weight: bold;
	text-shadow: 3px 3px #808080;
}

#home-main-image {
	width:300px;
	height:290px;
}

#home-button-play {
	background-color: #ffa726!important
}

#home-button-play:hover {
	background-color: #ff9900!important
}

@media only screen and (max-width: 1400px) {
	#home-main-text {
		font-size: 3.9em; 
	}
}

@media only screen and (max-width: 1200px) {
	#home-main-text {
		font-size: 3.3em;
	}
	
	#home-main-image {
		width:290px;
		height:280px;
	}
}

@media only screen and (max-width: 992px) {
	#home-main-text {
		font-size: 2em;
		text-shadow: 2px 2px #808080;
	}
}

@media only screen and (max-width: 576px) {
	#home-main-text {
		font-size: 1.8em;
		text-shadow: 1px 1px #808080;
	}
}
